<!DOCTYPE html>
<html>
<head>
  <title>Project Management</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href="./app.css" rel='stylesheet' type='text/css'>

  <!-- Angular JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
  <script src="./app.js"></script>

  <!-- shim is needed to support non-HTML5 FormData browsers (IE8-9)-->
  <script src="https://angular-file-upload.appspot.com/js/ng-file-upload-shim.js"></script>
  <script src="https://angular-file-upload.appspot.com/js/ng-file-upload.js"></script>
  
  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/3.2.1/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-storage.js"></script> 
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDW3Pxs4yXfqRWj9jBRUtKAzc5wMa_LoiA",
      authDomain: "projectmanagement-6fdc0.firebaseapp.com",
      databaseURL: "https://projectmanagement-6fdc0.firebaseio.com",
      storageBucket: "projectmanagement-6fdc0.appspot.com",
    };
    firebase.initializeApp(config);
  </script>
</head>
<body ng-app="pmapp" ng-controller="MainController">

<!-- Selecting User-->
<div class="section">
      <h2>Select user:</h2>
        <select name="switchUser" id="switchUser" ng-model="selectedAccount">
          <option ng-repeat="(name,value) in accounts" ng-selected="{{value==selectedAccount}}" value="{{value}}">{{name}}</option>
        </select>
</div>

<!-- Ether Balance & Solidity Contract Balance-->
<div class="section" ng-show= "selectedAccount == accounts.Vendor || selectedAccount == accounts.Client">
      <h2>Ether Balance:{{balances[getAccountName(selectedAccount)]}}</h2></br>
      <h2>Contract Balance:{{balance}}</h2><br/>
      
</div>


<!-- Client View -->
<div class="container-fluid" ng-hide="selectedAccount != accounts.Client">

  <div class="row">
    <div class="col-md-2">

      <!-- Create Contract Table -->
      <div class="panel panel-default">
        
        <div class="panel-heading">Create Contract</div>
        
        <div class="panel-body">
          
          <form>
            <div class="form-group">
              <label for="name" id="">Project Name </label>
              <input type="text" class="form-control" id="name" placeholder="Project Name" ng-model="project.name">
            </div>
            <div class="form-group">
              <label for="description">Project Description</label>
              <textarea id="description" class="form-control" placeholder="Description" rows="3" ng-model="project.description"></textarea>
            </div>
            <div class="form-group">
              <label for="amountToBePaid">Amount to be Paid </label>
              <input type="text" class="form-control" id="amountToBePaid" placeholder="Amount" ng-model="project.amount">
            </div>
            <div class="form-group">
              <label for="visibleTo">Assign To</label>
              <select id="accountSelect" multiple class="form-control" ng-model="project.assignTo">
                <option ng-repeat="(name,value) in accounts" value="{{value}}">{{name}}</option>
              </select>
            </div>
          </form>
          <button style="padding: 5px;" class="btn btn-default" ng-click="startRFP()">Create New Contract</button>
        </div>
      
      </div>
    
    </div>
    
    <div class="col-md-10">
        
      <div class="container-fluid">
        
        <div class="row">
          <div class="col-md-12">
            
            <!-- Contracts Deployed By Me Table -->
            <div class="panel panel-default">
              
              <div class="panel-heading">Contracts Deployed By Me</div>
              
              <div class="panel-body">
                    <div id="deployed" class="container-fluid">  
                      <div class="row">
                        <div class="col-md-2 cell-heading">Project Name</div>
                        <div class="col-md-3 cell-heading">Project Description</div>
                        <div class="col-md-2 cell-heading">Project Amount</div>
                        <div class="col-md-2 cell-heading">Project Status</div>
                        <div class="col-md-3 cell-heading">Project Assets</div>
                      </div>

                      <div class="row" ng-repeat="p in projects" ng-hide="p.reject == 'true' || p.done == 'true' ">
                        <div class="col-md-2 cell">{{p.name}}</div>
                        <div class="col-md-3 cell">{{p.description}}</div>
                        <div class="col-md-2 cell">{{p.amount}}</div>
                        <div class="col-md-2 cell">{{p.stage}}</div>
                        <div class="col-md-3 cell">
                          <div ng-repeat="(name, value) in p.projectAsset"> {{name}}: <a ng-click ="getLink(value)">{{value}}</a>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
            
            </div>
          
          </div>
        </div>
      
      </div> 

      <div class="container-fluid">
        
        <div class="row">
          <div class="col-md-12">

            <!-- Pending Contracts Table -->
            <div class="panel panel-default">
              
              <div class="panel-heading">Pending Contracts</div>
              
              <div class="panel-body">
                  <div class="container-fluid">  
                      <div class="row">
                        <div class="col-md-2 cell-heading">Project Name</div>
                        <div class="col-md-2 cell-heading">Project Description</div>
                        <div class="col-md-2 cell-heading">Project Amount</div>
                        <div class="col-md-2 cell-heading">Project Status</div>
                        <div class="col-md-3 cell-heading">Upload Project Asset</div>
                        <div class="col-md-1 cell-heading">Submit</div>
                      </div>

                      <div class="row" ng-repeat="p in projects" ng-hide="p.done == 'true' || p.reject == 'true'">
                        <div class="col-md-2 cell">{{p.name}}</div>
                        <div class="col-md-2 cell">{{p.description}}</div>
                        <div class="col-md-2 cell">{{p.amount}}</div>
                        <div class="col-md-2 cell">{{p.stage}}</div>
                        <div class="col-md-3 cell">
                          <div ng-show="p.phase.Development == 'Done'">
                            <button style="padding: 5px;" class="btn btn-default" type="file" ngf-select="selectFile($file, $invalidFiles)" accept="*" ngf-max-height="1000" ngf-max-size="5MB">Select File</button>
                            <br><br>
                            File:{{f.name}}
                          </div>    
                        </div>
                        <div class="col-md-1 cell">
                          <button style="padding: 5px;" ng-show="p.phase.Development == 'Done'" class="btn btn-default" ng-click="accept(p.name,selectedAccount,f.name)">Submit</button>
                        </div>
                      </div>
                    </div>
              </div>
            
            </div>
            
          </div>
          
        </div>
      </div> 

      <div class="container-fluid">
        
        <div class="row">
          <div class="col-md-12">
            
            <!-- Completed Projects Table -->
            <div class="panel panel-default">
              
              <div class="panel-heading">Completed Projects</div>
              
              <div class="panel-body">
                    <div id="deployed" class="container-fluid">  
                      <div class="row">
                        <div class="col-md-2 cell-heading">Project Name</div>
                        <div class="col-md-3 cell-heading">Project Description</div>
                        <div class="col-md-2 cell-heading">Project Amount</div>
                        <div class="col-md-2 cell-heading">Project Status</div>
                        <div class="col-md-3 cell-heading">Project Assets</div>
                      </div>

                      <div class="row" ng-repeat="p in projects" ng-show="p.done == 'true'">
                        <div class="col-md-2 cell">{{p.name}}</div>
                        <div class="col-md-3 cell">{{p.description}}</div>
                        <div class="col-md-2 cell">{{p.amount}}</div>
                        <div class="col-md-2 cell">{{p.stage}}</div>
                        <div class="col-md-3 cell">
                          <div ng-repeat="(name, value) in p.projectAsset"> {{name}}: <a ng-click ="getLink(value)">{{value}}</a>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
          
            </div>
          
          </div>
        </div>  

      </div>

      </div>

  </div>
</div>

<!-- Vendor View -->
<div class="container-fluid" ng-hide="selectedAccount != accounts.Vendor">
  
  <!-- Pending Contracts Table -->      
  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-default">
              
        <div class="panel-heading">Pending Contracts</div>
              
          <div class="panel-body">
              <div class="container-fluid">  
                  <div class="row">
                    <div class="col-md-2 cell-heading">Project Name</div>
                    <div class="col-md-2 cell-heading">Project Description</div>
                    <div class="col-md-2 cell-heading">Project Amount</div>
                    <div class="col-md-2 cell-heading">Project Status</div>
                    <div class="col-md-2 cell-heading">Upload Project Asset</div>
                    <div class="col-md-2 cell-heading">Accept/Reject</div>
                  </div>

                  <div class="row" ng-repeat="p in projects" ng-hide="p.phase.Vendor == 'Done' || p.reject == 'true'" >
                    <div class="col-md-2 cell">{{p.name}}</div>
                    <div class="col-md-2 cell">{{p.description}}</div>
                    <div class="col-md-2 cell">{{p.amount}}</div>
                    <div class="col-md-2 cell">{{p.stage}}</div>
                    <div class="col-md-2 cell">
                          <button style="padding: 5px;" class="btn btn-default" type="file" ngf-select="selectFile($file, $invalidFiles)" accept="*" ngf-max-height="1000" ngf-max-size="5MB">Select File</button>
                          <br><br>
                          File:{{f.name}}    
                    </div>
                    <div class="col-md-2 cell">
                          <button style="padding: 5px;" class="btn btn-default" ng-click="accept(p.name,selectedAccount,f.name)">Accept</button>
                          <button style="padding: 5px;" class="btn btn-default" ng-click="reject(p.name)">Reject</button>
                    </div>
                  </div>
              </div>
          </div>
            
      </div>
            
    </div>
          
  </div>

  <!-- Active Projects Table -->
  <div class="row">
          <div class="col-md-12">
            
            <div class="panel panel-default">
              
              <div class="panel-heading">Active Projects</div>
              
              <div class="panel-body">
                    <div id="deployed" class="container-fluid">  
                      <div class="row">
                        <div class="col-md-2 cell-heading">Project Name</div>
                        <div class="col-md-3 cell-heading">Project Description</div>
                        <div class="col-md-2 cell-heading">Project Amount</div>
                        <div class="col-md-2 cell-heading">Project Status</div>
                        <div class="col-md-3 cell-heading">Project Assets</div>
                      </div>

                      <div class="row" ng-repeat="p in projects" ng-show="p.phase.Vendor == 'Done' && p.reject != 'true' && p.done != 'true'">
                        <div class="col-md-2 cell">{{p.name}}</div>
                        <div class="col-md-3 cell">{{p.description}}</div>
                        <div class="col-md-2 cell">{{p.amount}}</div>
                        <div class="col-md-2 cell">{{p.stage}}</div>
                        <div class="col-md-3 cell">
                          <div ng-repeat="(name, value) in p.projectAsset"> {{name}}: <a ng-click ="getLink(value)">{{value}}</a>
                          </div>
                        </div>
                      </div>
                    
                    </div>
              </div>
            
            </div>
          
          </div>
  </div>

  <!-- Completed Projects Table -->
  <div class="row">
          <div class="col-md-12">
            
            <div class="panel panel-default">
              
              <div class="panel-heading">Completed Projects</div>
              
              <div class="panel-body">
                    <div id="deployed" class="container-fluid">  
                      <div class="row">
                        <div class="col-md-2 cell-heading">Project Name</div>
                        <div class="col-md-3 cell-heading">Project Description</div>
                        <div class="col-md-2 cell-heading">Project Amount</div>
                        <div class="col-md-2 cell-heading">Project Status</div>
                        <div class="col-md-3 cell-heading">Project Assets</div>
                      </div>

                      <div class="row" ng-repeat="p in projects" ng-show="p.done == 'true'">
                        <div class="col-md-2 cell">{{p.name}}</div>
                        <div class="col-md-3 cell">{{p.description}}</div>
                        <div class="col-md-2 cell">{{p.amount}}</div>
                        <div class="col-md-2 cell">{{p.stage}}</div>
                        <div class="col-md-3 cell">
                          <div ng-repeat="(name, value) in p.projectAsset"> {{name}}: <a ng-click ="getLink(value)">{{value}}</a>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
            
            </div>
          
          </div>
  </div>
</div>

<!-- Other Views -->
<div class="container-fluid" ng-show="selectedAccount == accounts.Management || selectedAccount == accounts.Development">
  
  <!-- Pending Contracts Table -->      
  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-default">
              
        <div class="panel-heading">Pending Contracts</div>
              
          <div class="panel-body">
              <div class="container-fluid">  
                  <div class="row">
                    <div class="col-md-3 cell-heading">Project Name</div>
                    <div class="col-md-3 cell-heading">Project Description</div>
                    <div class="col-md-3 cell-heading">Project Status</div>
                    <div class="col-md-2 cell-heading">Upload Project Asset</div>
                    <div class="col-md-1 cell-heading">Submit</div>
                  </div>

                  <!-- Projects in Management View -->
                  <div class="row" ng-repeat="p in projects" ng-hide="selectedAccount != accounts.Management || p.phase.Management == 'Done' || p.reject == 'true'" >
                    <div class="col-md-3 cell">{{p.name}}</div>
                    <div class="col-md-3 cell">{{p.description}}</div>
                    <div class="col-md-3 cell">{{p.stage}}</div>
                    <div class="col-md-2 cell">
                        <div ng-show="p.phase.Vendor == 'Done'">  
                          <button style="padding: 5px;" class="btn btn-default" type="file" ngf-select="selectFile($file, $invalidFiles)" accept="*" ngf-max-height="1000" ngf-max-size="5MB">Select File</button>
                          <br><br>
                          File:{{f.name}}
                        </div>    
                    </div>
                    <div class="col-md-1 cell">
                          <button style="padding: 5px;" ng-show="p.phase.Vendor == 'Done'" class="btn btn-default" ng-click="accept(p.name,selectedAccount,f.name)">Submit</button>
                    </div>
                  </div>

                  <!-- Projects in Development View -->
                  <div class="row" ng-repeat="p in projects" ng-hide="selectedAccount != accounts.Development || p.phase.Development == 'Done' || p.reject == 'true'" >
                    <div class="col-md-3 cell">{{p.name}}</div>
                    <div class="col-md-3 cell">{{p.description}}</div>
                    <div class="col-md-3 cell">{{p.stage}}</div>
                    <div class="col-md-2 cell">
                        <div ng-show="p.phase.Management == 'Done'"> 
                          <button style="padding: 5px;" class="btn btn-default" type="file" ngf-select="selectFile($file, $invalidFiles)" accept="*" ngf-max-height="1000" ngf-max-size="5MB">Select File</button>
                          <br><br>
                          File:{{f.name}}
                        </div>    
                    </div>
                    <div class="col-md-1 cell">
                          <button style="padding: 5px;" ng-show="p.phase.Management == 'Done'" class="btn btn-default" ng-click="accept(p.name,selectedAccount,f.name)">Submit</button>
                    </div>
                  </div>

              </div>
          </div>
            
      </div>
            
    </div>
          
  </div>

  <!-- Active Projects Table -->
  <div class="row">
          <div class="col-md-12">
            
            <div class="panel panel-default">
              
              <div class="panel-heading">Active Projects</div>
              
              <div class="panel-body">
                    <div id="deployed" class="container-fluid">  
                      
                      <div class="row">
                        <div class="col-md-3 cell-heading">Project Name</div>
                        <div class="col-md-3 cell-heading">Project Description</div>
                        <div class="col-md-3 cell-heading">Project Status</div>
                        <div class="col-md-3 cell-heading">Project Assets</div>
                      </div>

                      <!-- Projects in Management View -->
                      <div class="row" ng-repeat="p in projects" ng-show="selectedAccount == accounts.Management && p.phase.Management == 'Done' && p.reject != 'true' && p.done != 'true'">
                        <div class="col-md-3 cell">{{p.name}}</div>
                        <div class="col-md-3 cell">{{p.description}}</div>
                        <div class="col-md-3 cell">{{p.stage}}</div>
                        <div class="col-md-3 cell">
                          <div ng-repeat="(name, value) in p.projectAsset"> {{name}}: <a ng-click ="getLink(value)">{{value}}</a>
                          </div>
                        </div>
                      </div>

                      <!-- Projects in Development View -->
                      <div class="row" ng-repeat="p in projects" ng-show="selectedAccount == accounts.Development && p.phase.Development == 'Done' && p.reject != 'true' && p.done != 'true'">
                        <div class="col-md-3 cell">{{p.name}}</div>
                        <div class="col-md-3 cell">{{p.description}}</div>
                        <div class="col-md-3 cell">{{p.stage}}</div>
                        <div class="col-md-3 cell">
                          <div ng-repeat="(name, value) in p.projectAsset"> {{name}}: <a ng-click ="getLink(value)">{{value}}</a>
                          </div>
                        </div>
                      </div>

                    </div>
              </div>
          
            </div>
          
          </div>
  </div>
</div>

</body>
</html>