body {
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 15px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.black {
  color: black;
}

.cell{
   padding: 10px 15px;
   background-color: #f5f5f5;
   border: 1px solid black;
   border-right-style: hidden;
   height:100px;
}

.cell:last-child{
   border: 1px solid black;
}

.cell-heading{
   padding: 10px 15px;
   background-color: #f5f5f5;
   border: 1px solid black;
   border-right-style: hidden;
}

.cell-heading:last-child{
   border: 1px solid black;
}
