<div class="top">

<div class="container-fluid contentHolder">
	<!-- Deployed Projects Tab-->
	<div class="row tab" ng-click="setDeployed()">
		<div class="col-md-1 tab-icon">
			<img src="./images/contract_deployed.png">
		</div>
		<div class="col-md-10 tab-text">
			<h4 ng-class="{'yellow' : deployed}">Contracts Deployed</h4>
		</div>
		<div class="col-md-1 tab-arrow">
			<img ng-show="deployed" src="/images/dropdown_two.png"/>
            <img ng-show="!deployed" src="/images/up_arrow.png"/>
		</div>
	</div>
	
	<!-- Deployed Projects-->
	<div class="clientProjectsContainer" ng-show="deployed"> 
		<div class="projectContainer" ng-repeat="p in projects" ng-hide="p.reject == 'true' || p.done == 'true' ">
			<h5 class="projectContent"><strong>Project Name</strong>: {{p.name}}</br></h5>
			<h5 class="projectContent"><strong>Project Description</strong>: {{p.description}}</br></h5>
			<h5 class="projectContent"><strong>Project Amount</strong>: {{p.amount}}</br></h5>
			<h5 class="projectContent"><strong>Project Status</strong>: {{p.stage}}</br></h5>
			<h5 class="projectContent"><strong>Project Assets</strong>:</br></br>
				<span ng-repeat="(name, value) in p.projectAsset"> {{name}}: <a ng-click ="getLink(value)">{{value}}</a></br></br></span>
			</h5>
		</div>
	</div>

	<!-- Pending Projects Tab-->
	<div class="row tab" ng-click="setPending()">
		<div class="col-md-1 tab-icon">
			<img src="./images/pending_contracts.png">
		</div>
		<div class="col-md-10 tab-text">
			<h4 ng-class="{'yellow' : pending}">Pending Contracts</h4>
		</div>
		<div class="col-md-1 tab-arrow">
			<img ng-show="pending" src="/images/dropdown_two.png"/>
            <img ng-show="!pending" src="/images/up_arrow.png"/>
		</div>
	</div>

	<!-- Pending Projects-->
	<div class="clientProjectsContainer" ng-show="pending">
		<div class="projectContainer" ng-repeat="p in projects" ng-hide="p.done == 'true' || p.reject == 'true'">
			<h5 class="projectContent"><strong>Project Name</strong>: {{p.name}}</br></h5>
			<h5 class="projectContent"><strong>Project Description</strong>: {{p.description}}</br></h5>
			<h5 class="projectContent"><strong>Project Amount</strong>: {{p.amount}}</br></h5>
			<h5 class="projectContent"><strong>Project Status</strong>: {{p.stage}}</br></h5>
			<h5 class="projectContent" ng-show="p.phase.Developer == 'Done'"><strong>Upload Project Asset</strong>:<button class="yellowButton" id="select" type="file" ngf-select="selectFile($file,p.projectID, $invalidFiles)" accept="*" ngf-max-height="1000" ngf-max-size="5MB">Select File</button>
                            <br><br>
                            File:{{f[p.projectID].name}}</h5>
         	<div class="formInputDiv" ng-show="p.phase.Developer == 'Done'">
         		<button class="yellowButton" id="select" ng-click="accept(p.name,accounts['Client'],f[p.projectID].name,p.projectID)">Submit</button>
         		<h5 class="err">{{err[p.projectID]}}</h5>
         	</div>
		</div>
	</div>
	
	<!-- Completed Projects Tab-->
	<div class="row tab" ng-click="setCompleted()">
		<div class="col-md-1 tab-icon">
			<img src="./images/completed_contracts.png">
		</div>
		<div class="col-md-10 tab-text">
			<h4 ng-class="{'yellow' : completed}">Completed Contracts</h4>
		</div>
		<div class="col-md-1 tab-arrow">
			<img ng-show="completed" src="/images/dropdown_two.png"/>
            <img ng-show="!completed" src="/images/up_arrow.png"/>
		</div>
	</div>
	
	<!-- Completed Projects-->
	<div class="clientProjectsContainer" ng-show="completed">
		<div class="projectContainer" ng-repeat="p in projects" ng-show="p.done == 'true'">
			<h5 class="projectContent"><strong>Project Name</strong>: {{p.name}}</br></h5>
			<h5 class="projectContent"><strong>Project Description</strong>: {{p.description}}</br></h5>
			<h5 class="projectContent"><strong>Project Amount</strong>: {{p.amount}}</br></h5>
			<h5 class="projectContent"><strong>Project Status</strong>: {{p.stage}}</br></h5>
			<h5 class="projectContent"><strong>Project Assets</strong>:</br></br>
				<span ng-repeat="(name, value) in p.projectAsset"> {{name}}: <a ng-click ="getLink(value)">{{value}}</a></br></br></span>
			</h5>
		</div>
	</div>

</div>

</div>