<div class="container-fluid devmanage">
	
	<div class="row managePendingContainer">
						<div class="col-md-2">
							<img id="dashViewIcon" src="/images/active_icon_1.png"/>
						</div>
						<div class="col-md-10">
							<h4 class="managePendingName">Active Contracts</h4>
						</div>
	</div>

	<div class="manageProjectsContainer">
		<div class="manageProjectContainer" ng-repeat="p in projects" ng-show="p.phase.Developer == 'Done' && p.reject != 'true' && p.done != 'true'">
			<h5 class="projectContent"><strong>Project Name</strong>: {{p.name}}</br></h5>
						<h5 class="projectContent"><strong>Project Description</strong>: {{p.description}}</br></h5>
						<h5 class="projectContent"><strong>Project Status</strong>: {{p.stage}}</br></h5>
						<h5 class="projectContent"><strong>Project Assets</strong>:</br></br>
							<span ng-repeat="(name, value) in p.projectAsset"> {{name}}: <a ng-click ="getLink(value)">{{value}}</a></br></br></span>
						</h5>
		</div>
	</div>

</div>