<div class="container-fluid devmanage">
	
	<div class="row managePendingContainer">
						<div class="col-md-2">
							<img id="dashViewIcon" src="/images/pending_black.png"/>
						</div>
						<div class="col-md-10">
							<h4 class="managePendingName">Pending Contracts</h4>
						</div>
	</div>

	<div class="manageProjectsContainer">
		<div class="manageProjectContainer" ng-repeat="p in projects" ng-hide="p.phase.Developer == 'Done' || p.reject == 'true'">
			<h5 class="projectContent"><strong>Project Name</strong>: {{p.name}}</br></h5>
			<h5 class="projectContent"><strong>Project Description</strong>: {{p.description}}</br></h5>
			<h5 class="projectContent"><strong>Project Amount</strong>: {{p.amount}}</br></h5>
			<h5 class="projectContent"><strong>Project Status</strong>: {{p.stage}}</br></h5>
			<h5 class="projectContent" ng-show="p.phase.Management == 'Done'"><strong>Upload Project Asset</strong>:<button class="yellowButton" id="select" type="file" ngf-select="selectFile($file,p.projectID, $invalidFiles)" accept="*" ngf-max-height="1000" ngf-max-size="5MB">Select File</button>
                            <br><br>
                            File:{{f[p.projectID].name}}</h5>
         	<div class="formInputDiv" ng-show="p.phase.Management == 'Done'">
         		<button class="yellowButton" id="select" ng-click="accept(p.name,accounts['Developer'],f[p.projectID].name,p.projectID)">Submit</button>
         		<h5 class="err">{{err[p.projectID]}}</h5>
         	</div>
		</div>
	</div>

</div>